body {
    font-family: 'Muli', 'light';
    /* Location of the image */
    background-image: url('../brett-jordan-BQ1S5jS20S0-unsplash.jpg');

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
      the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
      on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
      while the background image is loading */
     background-color: #000;
    background-size: cover;
}

.mug-shot {
  width: 90px;
  display: inline;
}

.mug-title {
  display: inline;
}

.photo-credit {
  margin-top: 1px;
  font-size: 12px;
}

.white-background {
  background-color: #fff;
  opacity: 98%;
}

.post {
  background-color: #fff;
  padding: 25px;
  margin-left: auto;
  opacity: 98%;
}

.divider {
    margin: 0 auto;
    margin-bottom: 1em;
}

.publisher {
    margin-top: 5em;
}

a,a:hover {
    color: blue;
    text-decoration: none;
}

.container-fluid {
  margin-top: 2px;
  max-width: 290px;
  margin-right: auto;
  position: fixed;
  z-index: 9999;
}

.container-fluid-post {
  margin-top: 10px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  opacity: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-map-signs {
  background: black;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-quora {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-right: 3px; /* last one */
}
