body {
    font-family: 'Signika', serif;
    background-color: #f4f4eb
}

.book-cover {
    text-align: center;
    margin-top: 3em;
}

h1,h2,h3,h4,h5,h6 {
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

h1 {
    font-size: 58px;
    line-height: 80px;
}

.small {
    font-size: 18px;
}

.divider {
    margin: 0 auto;
    margin-bottom: 1em;
}

.publisher {
    margin-top: 5em;
}

a,a:hover {
    color: blue;
    text-decoration: none;
}

.container-fluid {
  font-family: 'Open Sans', serif;
  max-width: 730px;
	margin-right: auto;
  margin-left: auto;
}

