* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }


.docview_container {
  padding: 10px !important
}

.search_area {
	margin-bottom: 20px;
	text-indent: 10px;
}

h2.sections_title {
  margin: 0;
  padding: 0;
}

.sections_inner {
  font-size: 28px !important;
  width: 300px !important;
}

.sections_inner ul {
  margin: 0;
  padding: 0;
}

.sections_inner ul li {
  margin: 5px 0;
}
.sections_inner ul li a  {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,rgba(102,102,102,1)),
    color-stop(100%,rgba(68,68,68,1)));
  box-shadow:
    inset 0 1px 1px rgba(0,0,0,.5),
    0 1px 0 rgba(255,255,255,.7);
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 32px;
  text-shadow: 0 1px 0 rgba(0,0,0,.6);
  height: 32px;
  z-index: 1001;
}

.global_wrapper,
.newdoc {
  min-height: 0;
  height: auto !important;
}

/*

#document_column .outer_page,
#document_column .newpage
 {
 width: 300px !important

}

#document_column .newpage * {
  font-size: 1.7em !important;
}

*/
